h2{
  color: #1c2431;/*Dark Blue (intro and email sign up background): */
  color: #181f2a; /*- Dark Blue (main background):*/
  color: #0b1523; /*- Dark Blue (footer background):*/
  color: #202a3c; /*- Dark Blue (testimonials background):*/
  color: #21262f; /*- Dark Blue (testimonials background):*/
  color: #65e2d9; /*- Cyan (inside call-to-action gradient)*/
  color: #339ecc; /*- Blue (inside call-to-action gradient):*/
  color: #ff4242; /*- Light Red (error):*/
  color: #ffffff; /*- White:*/

  background: url(images/bg-curvy-desktop.svg);

}